body{
	margin: 0px;
}

ul.topnav{
	margin: 0;
	list-style: none;
	padding: 10px 20px;
	float: left;
	width: 100%;
	background: #fff;
	font-size: 1.2em;
}

ul.topnav li {
	margin-right: 10px;
	float: right;
	padding: 0 15px 0 0;
	position: relative;
}

ul.topnav li a{
	margin-left: 10px;
	padding: 15px 10px;
	color: #222;
	display: block;
	text-decoration: none;
	float: left;
	font-size: 16px;
	font-family: arial;
}

.topnavright{
	font-size: 20px;
}

img{
	height: 150px;
	padding: 15px;
}

div.logo{
	position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -125px;
    margin-left: -220px;
    width: 500px;
    height: 500px;
    display: inline;
}

div.logo form{
	margin-top: 20px;
	padding: 19px;
	display: inline;
}

div.logo form.pure-form button{
	margin: 25px;
	padding: 20px;
	font-size: 130%;
}

#showOnClick {
	padding: 10px;
}

#query {
	padding: 10px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:arial;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 20px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
